.box-shadow {
  -webkit-box-shadow: 5px 25px 30px -20px rgba(91, 164, 164, 0.36);
  -moz-box-shadow: 5px 25px 30px -20px rgba(91, 164, 164, 0.36);
  box-shadow: 5px 25px 30px -20px rgba(91, 164, 164, 0.36);
}
